.App {
  width: 100%;
  height: clamp(100vh 100% 100%);
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f1efea;
  color: #27374c;
}

.easyComment {
  color: #27374c;
}
body {
  margin: 0;
  padding: 0;
}
::placeholder {
  color: #dfe4eb;
}
.post {
  width: 50vw;
  height: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  border: 1px solid lightgray;
  font-family: Arial, Helvetica, sans-serif;
}

.post:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}
.post .title {
  flex: 20%;
  border-bottom: 1px solid lightgray;
  background-color: #f7f7f7;
  display: grid;
  place-content: center;
  color: #3a608a;
}

.modifPOst {
  width: 100%;
  display: flex;
}

.modifPOstBtn {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modifPOstArea {
  width: 70%;
}

.profilePageContainer {
  width: 95vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.basicInfo {
  width: 90%;
}

.accountInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  background-color: white;
  border-radius: 10px;
  font-size: 1rem;
  border: 1px solid lightgray;
  padding: 1rem;
  width: 50vw;
  margin: auto;
  height: 33vh;
}

.accountInfo h4 {
  margin: 1rem;
  padding: 0;
  text-align: center;
}

p {
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  background-color: white;
  border-radius: 10px;
  font-size: 1rem;
}
.post .body {
  flex: 60%;
  font-size: small;
  display: grid;
  place-content: center;
  background-color: white;
  color: #27374c;
}

.post .footer {
  flex: 20%;
  border-top: 1px solid lightgray;
  display: flex;
  align-items: center;
  padding-left: 15px;
  background-color: white;
  color: #287fb8;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* .footer button {
  background-color: #3a608a;
  color: white;
} */

.footer .username {
  flex: 50%;
}

.username {
  color: #287fb8;
}
.footer .buttons {
  flex: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.likeBttn {
  color: #eceff2;
}
.unlikeBttn {
  color: #287fb8;
}

.buttons label {
  margin-right: 20px;
  margin-left: 10px;
}

/* CREATE POST PAGE CSS */

.createPostPage {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10vh;
}
.formContainer {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: auto;
  padding: 20px;
  border: 1px solid #287fb8;
  border-radius: 5px;
  border: 1px solid lightgray;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

label {
  padding: 0.5rem;
}

.formContainer:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.formContainer .inputCreatePost .textAreaPost {
  height: 50px;
  margin-top: 10vh;
  margin-bottom: 10px;
  border: 2px solid grey;
  border-radius: 10px;
  padding-left: 10px;
  font-size: 20px;
  border-radius: 10px;
}

input[type="text"] {
  border-radius: 10px;
  border: 1px solid grey;
  height: 50px;
}

textarea {
  border-radius: 10px;
  border: 1px solid grey;
}

.textAreaPost {
  border-radius: 10px;
  height: 30vh;
  /* background-color:whitesmoke;
  opacity: 0.4 */
}

.formContainer button {
  margin-top: 15px;
  height: 40px;
  border: none;
  background-color: lightskyblue;
  border-radius: 5px;
  color: white;
}

.formContainer .button:hover {
  cursor: pointer;
  background-color: #287fb8;
}

span {
  color: #f24423;
}

/* NAVBAR */

.navbar {
  width: 100%;
  height: 70px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #3a608a;
}

/* .navbar {
  text-align: right;
  margin-right: 10px;
  font-weight: lighter;
} */

@media (max-width: 600px) {
  .formContainer {
    width: 70vw;
  }
  .accountInfo {
    flex-direction: column;
    padding: 2rem;
  }

  .modifPOstBtn {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .loginContainer {
    width: 5px;
  }

  .postText {
    height: 300px;
  }

  .post {
    width: 90vw;
    margin-bottom: 3vh;
  }
  .navbar .links {
    flex: 70%;
    height: 100%;
    display: flex;
    align-items: left;
  }

  h3 {
    display: none;
  }

  .navbar .loggedInContainer {
    margin-right: 1rem;
    flex: 20%;
    height: 100%;
    display: flex;

    justify-content: flex-end;
    align-items: right;
  }

  .smallBtn {
    margin: 1rem;
    border-color: grey;
    border-style: solid;
    border-width: 1px;
    width: 133px;
    height: 40px;
    cursor: pointer;
    background-color: white;
    color: #27374c;
  }
}

.navbar .links {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0.5rem;
}

.navbar .loggedInContainer {
  margin: 0.5rem;
  flex: 50%;
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}
a {
  margin-left: 30px;
  text-decoration: none;
  color: #3a608a;
}

/* .navbar button {
  width: 100px;
  height: 40px;
  cursor: pointer;
  margin-right: 10px;
  background-color: #3a608a;
  color: white;
} */

.smallBtn {
  margin: 1rem;
  border-color: grey;
  border-style: solid;
  border-width: 1px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  color: #27374c;
}

/* INDIVIDUAL POST */
.postPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.leftSide {
  width: 95vw;
  flex: 50%;
  height: calc(100vh - 70px);
  display: grid;
  place-items: center;
}

.rightSide {
  flex: 50%;
  width: 95vw;
  height: calc(100vh - 70px);
  display: grid;
  place-items: center;
  display: flex;
  flex-direction: column;
}

.rightSide .addCommentContainer {
  flex: 20%;
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin-top: 25px;
}

.addCommentContainer input,
button {
  width: 10vw;
  height: 50px;
  border-radius: 8px;
  border: none;
}

button {
  background-color: lightskyblue;
  color: white;
}

button:hover {
  cursor: pointer;
  background-color: #287fb8;
}

/* .formContainer  button {
  margin-top: 15px;
  height: 40px;
  border: none;
  background-color: lightskyblue;
  border-radius: 5px;
  color: white;
} */

.addCommentContainer input {
  border: 2px solid #3a608a;
}

.rightSide {
  flex: 80%;
  /* width: 90vw; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listOfComments {
  width: 90vw;
  border-radius: 10px;
  margin-top: 20px;
}

.comment {
  height: auto;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid lightgray;
  margin-top: 10px;
  margin-bottom: 15px;
  background-color: whitesmoke;
}

#individual {
  /* height: 30vh; */
  width: 90vw;
}

#individual .title,
#individual .footer {
  font-size: 30px;
}

#individual .body {
  font-size: 25px;
  text-overflow: ellipsis;
}

/* LOGIN */

.loginContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 10px;
  border: 1px solid lightgray;
  border-color: #27374c;
  background-color: white;
  width: 33%;
  height: 33%;
  border-radius: 10px;
  margin: 10%;
  width: 80vw;
  height: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  border: 1px solid lightgray;
  font-family: Arial, Helvetica, sans-serif;
}

.loginContainer:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
}

.loginContainer input,
button {
  width: clamp(100px, 15vw, 200px);
  height: 50px;
  border-radius: 8px;
  border: none;
  margin: 10px;
  margin-left: 0%;
  margin-right: 0;
}

/* .loginContainer button {
  background-color: dodgerblue;
  color: white;
} */

.loginContainer input {
  border: 2px solid dodgerblue;
}
